---
import { Image } from 'astro:assets'
import type { FrontmatterImage } from '~/types'

interface Props {
  avatarImage?: FrontmatterImage
}
const { avatarImage } = Astro.props
---

<div class="my-6 md:mx-2">
  <div
    class="flex flex-col sm:flex-row items-center justify-around sm:gap-5 max-w-full mb-6"
  >
    {
      avatarImage && (
        <Image
          priority
          src={avatarImage.src}
          alt={avatarImage.alt}
          class="rounded-full size-36 aspect-square box-content shrink-0 border-3 border-accent/20"
          style="box-shadow: var(--kap-shadow-card);"
          widths={[288]}
          height={144}
          width={144}
        />
      )
    }
    <div>
      <div class:list={['m-4 max-w-full prose']}>
        <slot />
      </div>
    </div>
  </div>
</div>
