---
import IconSun from '~/icons/sun.svg'
import IconMoon from '~/icons/moon.svg'
import IconContrast from '~/icons/contrast.svg'
import siteConfig from '~/site.config'
const themes = siteConfig.themes.include as string[]
---

<button
  id="theme-change-button"
  class="block ml-auto"
  data-themes={themes.join(',')}
>
  <IconSun id="icon-theme-0" class="hidden size-6 text-accent" />
  <IconContrast id="icon-theme-1" class="hidden size-6 text-accent" />
  <IconMoon id="icon-theme-2" class="hidden size-6 text-accent" />
</button>

<script>
  const themeButton = document.getElementById('theme-change-button')
  const themes = (themeButton?.getAttribute('data-themes') || '').split(',')
  const icons = themes.map((_, i) => themeButton?.querySelector(`#icon-theme-${i}`))

  const updateIcons = (theme: string) => {
    const idx = themes.indexOf(theme)
    icons.forEach((icon, i) => {
      if (i === idx) {
        icon?.classList.remove('hidden')
      } else {
        icon?.classList.add('hidden')
      }
    })
  }

  let currentTheme = localStorage.getItem('data-theme') || themes[0]
  updateIcons(currentTheme)

  themeButton?.addEventListener('click', () => {
    const current = localStorage.getItem('data-theme') || themes[0]
    const currentIdx = themes.indexOf(current)
    const nextIdx = (currentIdx + 1) % themes.length
    const newTheme = themes[nextIdx]
    updateIcons(newTheme)
    localStorage.setItem('data-theme', newTheme)
    document.documentElement.setAttribute('data-theme', newTheme)
  })
</script>
